# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS
.aws/

# IDE
.vscode/
.idea/

# Logs
*.log

# Lambda build artifacts
*.zip

# Python virtual environment
.venv/